body {
  background-image: url("/bg-squares.svg");
  background-size: cover;
  background-position: center;
  background-color: #222222;
}

.revealWrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.revealWrap img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
}

img.brain {
  z-index: 1;
  width: 95%;
  height: 95%;
  margin: auto;
  margin-top: 5%;
  margin-right: 3%;
}

img.human {
  z-index: 2;
  width: 86%;
  height: 86%;
  margin: auto;

  /* the mask */
  -webkit-mask-image: radial-gradient(
    circle var(--r) at var(--x) var(--y),
    transparent 0 45%,
    #000 60%
  );
  mask-image: radial-gradient(
    circle var(--r) at var(--x) var(--y),
    transparent 0 45%,
    #000 60%
  );

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  /* simple shadow */
  transition: -webkit-mask-image 120ms linear, mask-image 120ms linear;
}
